/* Google front link */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", serif;
  /* background: url(/img/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; */
}
:root {
  --Primary-color: #fea301;
  --secondary-color: #01acfd;
  --Titel-color: #000000;
  --SubTitel-color: #808080;
}

button {
  border: none;
  outline: none;
}

img {
  width: 100%;
}

a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  line-height: 25px;
  cursor: pointer;
}

.gapping {
  margin-top: 30px !important;
}

ul,
li {
  list-style: none;
}

h1 {
  color: var(--Titel-color);
}
.section_main_titel h1 {
  text-align: center;
  margin: 80px 0px;
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-weight: 700;
}

.container {
  max-width: 1440px;
  /* width: 75%; */
  padding: 0px 30px;
  margin-inline: auto;
}
.btn {
  background-color: var(--Primary-color);
  padding: 10px 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #ffff;
  font-weight: 600;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.navbar_btn {
  display: flex;
  align-items: center;
}
.navbar_btn a:hover {
  background-color: #faae2b;
  color: #ffffffde;
}
.menubar i {
  color: var(--Titel-color);
  font-size: 1.5rem;
  font-weight: 800;
  display: none;
  cursor: pointer;
}
/*Header start here  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background: #ffff;
}
.logu {
  display: flex;
  gap: 11px;
  align-items: center;
}
.heder_logu_img img {
  max-width: 50px;
}
.logu h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--Titel-color);
  text-transform: uppercase;
}
.navbar_link ul {
  display: flex;
  gap: 2rem;
}
.navbar_link ul li:first-child a {
  color: var(--Primary-color);
  font-weight: 700;
}
.navbar_link ul li:nth-child(2) a {
  color: var(--secondary-color);
}
.navbar_link ul li:nth-child(3) a {
  color: #05d4df;
}
.navbar_link ul li:nth-child(4) a {
  color: #5d58ef;
}

/* Hero section start here*/
.hero {
  margin-top: 60px;
}
.hero_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_text {
  max-width: 585px;
}
.hero_text h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.hero_text h1 span {
  color: var(--Primary-color);
}
.hero_text h1 span:nth-child(2) {
  color: var(--secondary-color);
}
.hero_text p {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin: 24px 0px;
}
.hero_text a {
  background-color: var(--Titel-color);
  display: inline-block;
}
.hero_text a:hover {
  background-color: #000000e0;
  color: #ffffffde;
}
.hero_img div {
  max-width: 468px;
}

/* Curriculam  */

.curriculam_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.curriculam_card {
  max-width: 365px;
  padding: 55px 40px;
  max-height: 475px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.curriculam_card_2nd {
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.curriculam_card_3rd {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.curriculam_card div {
  max-width: 135px;
}
.curriculam_card h3 {
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
}
.curriculam_card p {
  color: rgb(128, 128, 128);
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
}

.curriculam_card a {
  color: rgb(100, 200, 255);
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  &&:hover {
    opacity: 0.8;
  }
}

.curriculam_card_2nd a {
  color: #f0aa00;
}
.curriculam_card_3rd a {
  color: #8700ff;
}
